<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" href="/css/app.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/scripts/main.js"></script>
    </head>
    <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Surreal Wedding Films</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/san-luis-obispo-wedding-videography">Films</a></li>
            <li><a href="/about-cory-williams">About</a></li>
            <li><a href="/contact-us">Book Us</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
	<div class="container">
    <div class="page-header">
        <h1>Wedding Overview</h1>
    </div>
        <div class="row">
            <div class="form-group col-xs-4 emphasizeDate">
                Wedding Date: <strong><%= weddingDate %></strong>
            </div> 
        </div>

        <div class="row">
            <div class="col-xs-12">
                <legend>Groom's Information</legend>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label for="name">First Name</label>
                <input class="form-control" type="text" name="groomsFirstName" value="<%= groomsFirstName %>">
            </div>
            <div class="form-group col-xs-4">
                <label for="name">Last Name</label>
                <input class="form-control" type="text" name="groomsLastName" value="<%= groomsLastName %>">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label for="name">Groom's Email Address</label>
                <input class="form-control" type="email" name="groomsEmail" value="<%= groomsEmail %>">
            </div>
            <div class="form-group col-xs-4">
                <label for="name">Groom's Phone Number</label>
                <input class="form-control" type="text" name="groomsPhone">
            </div>
        </div>
         
        <div class="row">
            <div class="col-xs-12">
                <legend>Bride's Information</legend>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label for="name">First Name</label>
                <input class="form-control" type="text" name="bridesFirstName" value="<%= bridesFirstName %>">
            </div>
            <div class="form-group col-xs-4">
                <label for="name">Last Name</label>
                <input class="form-control" type="text" name="bridesLastName" value="<%= bridesLastName %>">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label for="name">Bride's Email Address</label>
                <input class="form-control" type="email" name="bridesEmail" value="<%= bridesEmail %>">
            </div>
            <div class="form-group col-xs-4">
                <label for="name">Bride's Phone Number</label>
                <input class="form-control" type="text" name="bridesPhone">
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <legend>Wedding Day Details</legend>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Getting Ready Location</label>
            <input class="form-control" type="text" name="gettingReadyLocation">         
        </div>
        <div class="form-group">
            <label for="name">Reception Location</label>
            <input class="form-control" type="text" name="receptionLocation">         
        </div>
        <div class="form-group">
            <label for="name">Photographer's Name</label>
            <input class="form-control" type="text" name="photographersName">         
        </div>
        <div class="form-group">
            <label for="name">Wedding Coordinator's Name</label>
            <input class="form-control" type="text" name="plannersName">         
        </div>
        <div class="form-group">
            <label for="name">How did you hear about me?</label>
            <textarea class="form-control" name="referralNotes" id="referralNotes" cols="10" rows="2"></textarea>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-8">
                <a href="/step3" class="btn btn-lg btn-block btn-primary">Continue</a>
            </div>
        </div>
    </div>
    </body>
</html>